
.link{
    font: inherit;
    color: inherit;

    /* optional reset */
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*.dropup .hide-toggle.dropdown-toggle::after {*/
/*    display: none !important;*/
/*}*/


video#bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(placeholder.jpg) no-repeat;
    background-size: cover;
}

.center{
    margin-top: 5%;
    width: 200px;height: 200px;display: block;
    margin-left: auto;
    margin-right: auto;
}